<div class="row">
  <div class="col-sm-9">
    <div class="well">
      <h4>Hi there,</h4>
      This application consists of <strong>two</strong> parts:
      <ol>
        <li><em>application</em>,</li>
        <li>and a <em>video introduction</em>.</li>
      </ol>
      Please complete both parts.
    </div>
  </div>
</div>
<%= form_for @application, url: send_application_path(id: @job.to_param) do |f| %>
  <div class="col-sm-5">
    <div class="panel <% if @application.errors.any? %>panel-danger<% else %>panel-default<% end %>">
      <div class="panel-heading">
        <h4>1. Apply to <%= @job.business.name %></h4>
      </div>
      <div class="panel-body">
        <address class="pull-right">
          <abbr title="Contact">Contact:</abbr> <%= @job.business.contact %><br>
          <abbr title="Phone">Tel:</abbr> <%= @job.business.tel %><br/>
          <a href="mailto:<%= @job.business.email%>"><%= @job.business.email %></a>
        </address>
        <div class="clearfix"></div>
        <div class="form-group">
          <%= f.label :name, "Your name" %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
          <% if @application.errors[:name] %>
            <span class="help-block"><span class="text-danger"><%= @application.errors[:name].to_sentence %></span></span>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
          <% if @application.errors[:email] %>
            <span class="help-block"><span class="text-danger"><%= @application.errors[:email].to_sentence %></span></span>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :tel %>
          <%= f.text_field :tel, class: "form-control" %>
          <% if @application.errors[:tel] %>
            <span class="help-block"><span class="text-danger"><%= @application.errors[:tel].to_sentence %></span></span>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :answer, "Why should we hire you?" %>
          <%= f.text_area :answer, class: "form-control", rows: 5 %>
          <% if @application.errors[:answer] %>
            <span class="help-block"><span class="text-danger"><%= @application.errors[:answer].to_sentence %></span></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default panel-video">
      <div class="panel-heading">
        <h4>2. Video introduction</h4>
      </div>
      <div class="panel-body">
        <%= f.hidden_field :video %>
        <% if !@application.video.blank? %>
          Your introductory video has been uploaded.
        <% else %>
          <div class="form-group">
            <%= f.label :video, "Please record a video introduction of yourself" %><br/>
            <camera id='introduction' data-app-id='a-2e06b430-d084-0132-c636-22000a9e3691'></camera>
            <span class="help-block record-video hidden"><span class="text-danger">Please record a video of yourself.</span></span>
          </div>
        <% end %>
      </div>
    </div>
    <%= f.submit "Send application", class: "btn btn-primary btn-lg send-application", disabled: true %>
  </div>
<% end %>

<%= content_for :javascript do %>
  <script src='//cameratag.com/api/v5/js/cameratag.js' type='text/javascript'></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var myCamera;
      var published = <%= !@application.video.blank? %>;

      if(published) {
        $('.send-application').removeAttr('disabled','disabled');
      }

      CameraTag.observe("introduction", "initialized", function(){
        myCamera = CameraTag.cameras["introduction"];
        $('#application_video').val(myCamera.getVideo().uuid);
      });
      CameraTag.observe("introduction", "bufferingUp", function(){
        $('.send-application').val("Please wait ...");
      });
      CameraTag.observe("introduction", "published", function(){
        published = true;
        $('.send-application').removeAttr('disabled','disabled');
        $('.send-application').val("Send application");
      });

      $('#new_application').submit(function(e) {
        if(myCamera) {
          if(!published) {
            e.preventDefault();
            $('.record-video').removeClass('hidden');
            recordVideo.alertNotRecorded($('.panel-video'));
          }
        }
      });
    });

  </script>

<% end %>
