<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Application from <%= @application.name %></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <address>
          <strong><%= @application.name %></strong><br>
          <abbr title="Phone">Tel:</abbr> <%= @application.tel %><br/>
          <a href="mailto:<%= @application.email%>"><%= @application.email %></a>
        </address>
      </div>
      <div class="col-sm-9">
        <%= simple_format(@application.answer) %>
        <% if @application.video.blank? %>
          <div class="alert alert-warning">No video data is available.</div>
        <% else %>
          <video id='MyPlayer1' data-uuid='<%= @application.video %>'></video>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to "Back to applications", admin_applications_path %>

<%= content_for :javascript do %>
  <script src='//cameratag.com/api/v5/js/cameratag.js' type='text/javascript'></script>
<% end %>
